.materials {
    display: flex;
    padding: 0 0 50px;
    flex-wrap: wrap;
}
.materials__modal-body {
    height: 503px;
}
.materials__folder {
    position: relative;
    flex: 0 0 100px;
}
.materials__folder-content {
    position: relative;
    overflow: hidden;
    background: #e9edf2;
    flex: 0 0 100%;
}
.materials__folder-content-xxxxx::before,
.materials__folder-content::after {
    position: absolute;
    top: -30px;
    z-index: 1;
    width: 100%;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 9px rgba(0, 0, 0, .2);
    content: '';
}
.materials__folder-content::after {
    top: auto;
    bottom: -30px;
}
.materials__folder-link {
    display: block;
    padding: 100px 0 0;
    cursor: pointer;
    width: 100px;
    background: 0 0 no-repeat;
    background-image: url(../assets/i/pages/secret_materials/materials__folder_opened_yes.svg);
    text-align: center;
}
.materials__folder-link::before {
    width: 0;
    height: 0;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #e9edf2 transparent;
    content: '';
    position: absolute;
    bottom: -20px;
    left: 42px;
}
.materials__folder-link.collapsed {
    background: 0 0 no-repeat;
    background-image: url(../assets/i/pages/secret_materials/materials__folder.svg);
}
.materials__folder-link.collapsed::before {
    display: none;
}
.materials__folder_locked_yes .materials__folder-link.collapsed {
    background: 0 0 no-repeat;
    background-image: url(../assets/i/pages/secret_materials/materials__folder_locked_yes.svg);
}
.materials__folder_locked_yes::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: 50% 60px no-repeat;
    background-image: url(../assets/i/pages/secret_materials/materials__lock.svg);
    content: '';
}
.materials__folder-link.materials_loading_yes {
    pointer-events: none;
}
.materials__folder-link.materials_loading_yes::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: 50% 43px no-repeat;
    background-image: url(../assets/i/blocks/loader/loader_type_folders.gif);
    content: '';
    pointer-events: none;
}
.materials__item-action.materials_loading_yes {
    background: 50% 25px no-repeat #34425a;
    background-image: url(../assets/i/blocks/loader/loader.gif);
    pointer-events: none;
}
.materials__content {
    display: flex;
}
.materials__items {
}
.materials__item {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}
.materials__item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: 50% 50% no-repeat #34425a;
    content: '';
}
.materials__item::after {
    position: absolute;
    top: 0;
    left: 25px;
    width: 0;
    height: 0;
    border-width: 25px 14px 0 0;
    border-style: solid;
    border-color: #34425a transparent transparent transparent;
    content: '';
}
.materials__item_type_video::before {
    background-image: url(../assets/i/blocks/icons/icon_type_video.svg);
}
.materials__item_type_audio::before {
    background-image: url(../assets/i/blocks/icons/icon_type_audio.svg);
}
.materials__item-desc {
    padding: 20px;
    flex: 1 1 auto;
}
.materials__item-action {
    display: block;
    padding: 60px 20px 20px;
    background: 50% 25px no-repeat #34425a;
    background-image: url(../assets/i/pages/secret_materials/materials__item-action.svg);
    color: #899dc1;
    text-align: center;
    flex: 0 0 102px;
}
.materials__item-action_loading_yes  {
    background-image: url(../assets/i/blocks/loader/loader.gif);
    pointer-events: none;
}
.materials__item-action:focus,
.materials__item-action:hover {
    background-color: #2b384e;
    color: #899dc1;
    text-decoration: none;
}
.materials__item-action-text {
    margin: 0;
    color: #fff;
}
.materials__item-duration {}
.materials__attaches {
    background: #e1e6ec;
}
.materials__attaches ul {
    padding: 0;
    list-style-type: none;
}
.materials__attaches li {
    margin: 0 0 20px;
}
.materials__link {
    display: inline-block;
    padding-left: 25px;
    background: 0 0 no-repeat;
    line-height: 24px;
}
.materials__link[href$='.docx'] {
    background-image: url(../assets/i/blocks/icons/icon_file_docx.svg);
}
.materials__link[href$='.xlsx'] {
    background-image: url(../assets/i/blocks/icons/icon_file_xlsx.svg);
}
.materials__link[href$='.pdf'] {
    background-image: url(../assets/i/blocks/icons/icon_file_pdf.svg);
}
.materials__link[href$='.xlsx'] {
    background-image: url(../assets/i/blocks/icons/icon_file_xlsx.svg);
}
@media (max-width: 480px) {
    .materials__content {
        display: block;
    }
}
